body{
    font-family: Montserrat;
    margin: 0;
}
body p{
    color: dimgray;
}
body h1{
    font-size: 50px;
}
.middle-h1{
    margin-bottom: 20px;
}
.highlight{
    color: orange;
}
.header{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.header img {
    width: 100%;
}
.header p{
    text-align: justify;
    margin-bottom: 25px;
}
.bg{
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("top-banner.png")
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
}
.second_part{
    background-image: url("dream-bg.png");
    background-size: 6%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;

}

.experience-area{
    height: 450px;
    background-image: url("exp-bg.png");
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: left;
}
.border{
    box-shadow: 10px 10px 30px gray;
    padding-right: 15px;
    border-radius: 7px;
    height: 80%;
}
.border-style{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
footer p{
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}